.product-detail {
    width: 360px;
    padding: 24px;
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: var(--white);
}

.details-product {
    margin-bottom: 50px;
}

.details-product>img:nth-child(2) {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}

/** Clase carta info producto*/
.product-detail-close {
    background-color: rgba(0,0,0,.4);
    position: absolute;
    width: 24px;
    height: 24px;
    top: 14px;
    left: 14px;
    z-index: 2;
    padding: 2px 4px;
    border-radius: 50%;
}

.product-detail-close>p {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: var(--very-light-pink);
}

.product-detail-close:hover {
    cursor: pointer;
}

.product-card-info {
    margin: 24px 24px 0 24px;
}

.product-card-info > p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}

.product-card-info > p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 36px;
}

.product-card-info > p:nth-child(3) {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 36px;
}

.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#product-value, #product-moneda{
    display: inline-block;
}

#padding0 {
    padding: 0;
}

@media (max-width:640px) {
    .product-detail {
        width: 100%;
    }
    .product-detail-button {
        width: 80%;
        margin: auto;
    }
    .details-product {
        height: 100vh;
    }
}