/** Clases buscador */
.search-container {
    position: relative;
    z-index: 0;
    display: flex;
    padding: 30px;
    align-items: center;
}

.search-container .input-icon {
    position: relative;
}

.search-container .input-icon i {
    position: absolute;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 5px;
    color: var(--very-light-pink);
}

.search-input {
    width: 300px;
    margin-right: 20px;
    border: 1px solid #F6F6F6;
    background-color: #F6F6F6;
    height: 40px;
    border-radius: 5px;
    font-size: 17px;
    padding: 8px 8px 8px 24px;
}

.search-input::placeholder {
    color: var(--very-light-pink);
}

@media (max-width:640px) {

    .search-container {
        padding-left: 0;
        flex-direction: column-reverse;
    }

    .search-input {
        width: auto;
        margin-right: 5px;
    }

}