/** Variables*/
:root {
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #ACD9B2;
    --white: #fff;
    --black: #000;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

/** Clases generales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.inactive {
    display: none;
}

.giro90 {
    transform: rotate(90deg);
}

.giro270 {
    transform: rotate(270deg);
}

.pointer {
    cursor: pointer;
}

.primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

.position-relative {
    position: relative;
}

/** Clases de navbar*/
.nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 8px 32px 0 32px;
    border-bottom: 1px solid var(--very-light-pink);
}

/** Boton hamburguesa izquierdo*/
.nav-btn-menu {
    display: none;
}

/** Clases Menu desplegable (Movile)*/
.mobile-menu {
    z-index: 2;
    background-color: var(--white);
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    padding: 0 24px;
    height: 100vh;
}

.mobile-menu a {
    padding: 12px 0;
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    /* margin-bottom: 24px; */
}

.mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
}

.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul li {
    margin-bottom: 5px;
}

.mobile-menu-email {
    font-size: var(--sm);
    font-weight: 300 !important;
}

.mobile-menu-sign-out {
    font-size: var(--sm);
    color: var(--hospital-green) !important;
}

/** Imagen(Icono) aplicacion*/
.nav-icon {
    width: 120px;
}

/** Contenedor menu categorias y menu perfil*/
.nav-menu {
    display: flex;
    justify-content: space-between;
}

/** Menu categorias*/
.menu-filter {
    display: flex;
    flex-direction: row;
    margin: 12px 16px;
}

.menu-filter div a {
    border: 1px solid var(--white);
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--very-light-pink);
}

.menu-filter div a:hover {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    border-radius: 8px;
}

/*Clases menu perfil*/
.nav-menu-perfil {
    cursor: pointer;
    position: relative;
}

.nav-menu-perfil a {
    padding: 12px;
    text-decoration: none;
    color: var(--very-light-pink);
}

.nav-menu-perfil>a {
    display: flex;
    flex-direction: row;
}

.nav-menu-perfil a img {
    margin-left: 15px;
    width: 5px;
}

/*Clases menu desplegable desktop*/
.desktop-menu {
    z-index: 2;
    background-color: var(--white);
    position: absolute;
    width: 80%;
    right: 0;
    border: 1px solid var(--very-light-pink);
    border-radius: 4px;
}

.desktop-menu ul {
    list-style: none;
    text-align: end;
}

.desktop-menu ul li {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding: 12px;
}

.desktop-menu ul li a {
    /* align-items: end; */
    color: var(--black);
    font-weight: bold;
}

.desktop-menu ul li:last-child {
    padding-top: 30px;
    border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a {
    color: var(--hospital-green);
}

/*Clases navbar/navbar-shopping-card*/
.navbar-shopping-card {
    position: relative;
    margin-left: 50px;
    margin-right: 20px;
}

/*Clases navbar/navbar-shopping-card*/
.navbar-shopping-card div {
    position: absolute;
    top: -5px;
    right: 0;
    font-size: 12px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    vertical-align: middle;
    color: var(--white);
}

/** aside desplegable carrito de compra*/
.product-detail {
    width: 360px;
    padding: 24px;
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: var(--white);
}

.to-shopping {
    height: 100vh;
    z-index: 2;
    overflow-y: scroll;
}

.menu-scroll {
    height: 100vh;
    z-index: 2;
    overflow-y: scroll;
}

.container-shopping-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 150px !important;
}

.title-container {
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
}

.title-container img {
    transform: rotate(180deg);
    margin-right: 14px;
}

.title {
    font-size: var(--lg);
    font-weight: bold;
}

.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}

.shopping-cart figure {
    margin: 0;
}

.shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.shopping-cart p:nth-child(2) {
    color: var(--very-light-pink);
}

.shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
}


.order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
}

.order p:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
}

.order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
}

/** Clases lista de productos*/
.main-container {
    padding: 30px;
}

/** Clases buscador */
.search-container {
    position: relative;
    z-index: 0;
    display: flex;
    padding: 30px;
    align-items: center;
}

.search-container .input-icon {
    position: relative;
}

.search-container .input-icon i {
    position: absolute;
    font-size: 16px;
    margin-top: 6px;
    margin-left: 5px;
    color: var(--very-light-pink);
}

.search-input {
    width: 300px;
    margin-right: 20px;
    border: 1px solid #ececec;
    background-color: #ececec;
    height: 30px;
    border-radius: 5px;
    padding: 8px 8px 8px 24px;
}

.search-input::placeholder {
    color: var(--very-light-pink);
}

.order-by-container {
    position: relative;
}

.order-by-container label {
    font-size: 12px;
    font-weight: bold;
}

.order-by-container input {
    width: 100px;
    border: 0;
    height: 25px;
    padding: 8px;
}

.order-by-container i {
    position: absolute;
    font-size: 10px;
    right: 2px;
    margin-top: 8px;
}

/** Clases lista productos*/
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 20px;
    place-content: center;
    padding-top: 30px;
}

.product-card {
    width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
}

.product-card:hover{
    background-color: rgba(0,0,0,.05);
    border-radius: 5px;
    border:0px;
}

.product-card>img {
    width: 200px;
    min-height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
    transition: .5s;
    /* border: 2px solid var(--text-input-field); */
    padding: 5px;
}

.product-card>img:hover {
    border: 0px;
    width: 210px;
    transform: scale(1.2);
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4px;
    height: 100%;
}

.product-info-div-price {
    font-weight: bold;
    font-size: var(--md);
    margin-bottom: 4px;
}

#product-value, #product-moneda{
    display: inline-block;
}

.product-info-div-name {
    font-size: var(--sm);
    color: var(--very-light-pink);

}

.product-info-figure-img {
    width: 32px;
    height: 32px;
}

/** Clase carta info producto*/
.product-detail-close {
    background-color: rgba(0,0,0,.4);
    position: absolute;
    width: 24px;
    height: 24px;
    top: 14px;
    left: 14px;
    z-index: 2;
    padding: 2px 4px;
    border-radius: 50%;
}

.product-detail-close>p {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: var(--very-light-pink);
}

.product-detail-close:hover {
    cursor: pointer;
}

.product-detail div>img:nth-child(2) {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}

.details-product {
    margin-bottom: 50px;
}

.product-card-info {
    margin: 24px 24px 0 24px;
}

.product-card-info > p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}

.product-card-info > p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 36px;
}

.product-card-info > p:nth-child(3) {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 36px;
}

.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#padding0 {
    padding: 0;
}

.vacio{
    margin:40px 0
}
@media (max-width:640px) {
    .nav {
        place-items: center;
    }

    .nav-btn-menu {
        display: block;
    }

    .nav-menu {
        display: none;
    }

    .menu-filter {
        display: none;
    }

    .navbar-shopping-card {
        margin: 0;
    }

    .product-detail {
        width: 100%;
    }

    .product-detail-button {
        width: 80%;
        margin: auto;
    }

    .mobile-menu ul:nth-child(2) {
        display: block;
    }

    .mobile-menu ul:nth-child(3) {
        display: block;
    }

    .search-container {
        padding-left: 0;
        flex-direction: column-reverse;
    }

    .search-input {
        width: auto;
        margin-right: 5px;
    }

    .order-by-container {
        margin-bottom: 5px;
    }

    .cards-container {
        /* grid-template-columns: repeat(auto-fill, minmax(140px, 240px)); */
        grid-template-columns: repeat(auto-fill, 140px);
    }

    .product-card {
        /* min-width: 140px; */
        width: 140px;
        /* max-height: 260px; */
    }

    .product-card>img {
        /* min-width: 140px; */
        width: 140px;
        ;
        min-height: 140px;
    }

    .no-overflow {
        /* height: 100vh; */
        overflow-y: hidden;
    }

    .details-product {
        height: 100vh;
    }
}

@media (min-width:640px) and (max-width:1030px) {
    .nav {
        grid-template-columns: auto 1fr auto auto;
    }

    .nav>a {
        margin-left: 40px;
    }

    .nav-btn-menu {
        display: block;
    }

    .menu-filter {
        display: none;
    }

    .mobile-menu ul:nth-child(2) {
        display: none;
    }

    .mobile-menu ul:nth-child(3) {
        display: none;
    }
}